apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 049061799945.dkr.ecr.sa-east-1.amazonaws.com/shopping-site-backend:de2b701f03a82318cc6e05f8a29763f59ae4da3e
          ports:
            - containerPort: 5000
