apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: main
  template:
    metadata:
      labels:
        app: main
    spec:
      containers:
        - name: main
          image: 049061799945.dkr.ecr.sa-east-1.amazonaws.com/shopping-site-main:6866f49c099c0795d6f4b759da4e7768c6e58cc7
          ports:
            - containerPort: 80
