apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: main
  template:
    metadata:
      labels:
        app: main
    spec:
      containers:
        - name: main
          image: 049061799945.dkr.ecr.sa-east-1.amazonaws.com/shopping-site-main:4436de3dc170260994395dcb5f088e5749bd2040
          ports:
            - containerPort: 80
